.top-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.website-title {
  font-size: 50px;
}


ul li {
  font-size: 20px;
}


.nav-link {
  color: #e9ecef;
  transition: color 0.2s ease;
}

.nav-link:visited {
  color: #e9ecef;
}

.nav-link:hover {
  color: rgb(116, 114, 114);
}