@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
}

.app-movie-list {
  flex: 1;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}
